/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}
/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
/**
 * Copyright (c) Facebook, Inc. and its affiliates.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE file in the root directory of this source tree.
 */

/*
Hide color mode toggle in small viewports
 */

/* Make navbar items center aligned */
.navbar__inner {

  justify-content: space-between;
  align-items: center;

}

.navbar{
  padding-top: 30px;
    padding-bottom: 30px;
    display: block;
  padding-right: 4.5% !important;         /* Add top padding */
  padding-left: 4.5% !important; 
  height:auto;
}

.navbar__brand {
  flex: 1;
}

.navbar a,
.navbar__item {
  font-weight: normal !important;
 
}

/* Custom style for Sign In button */
.navbar__item[href="/signin"] {
  padding: 6px 10px;
  border: 1px solid black;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}
[data-theme='dark'] .navbar__item[href="/signin"] {
  border: 1px solid white; /* Change this to your dark mode color */
}

.navbar__item[href="/signin"]:hover {
  background-color: var(--ifm-color-primary-dark);
}
/* Change the navbar background color */

/* Change the navbar background color */
.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: soft shadow */
}

@media (max-width: 996px) {
  .navbar__inner {
    display: block;
    width: 100% ;
    justify-content: space-between;
    align-items: center;
  }
  /* .container {
      max-width: var(--ifm-container-width-xl);
      margin: 2%;
  } */
  .navbar{
  
    padding-top: 4% !important;         /* Add top padding */
    padding-bottom: 4% !important; 
    padding-right: 4.5% !important;         /* Add top padding */
    padding-left: 4.5% !important; 
  }

  /* .navbar__toggle {
    order: 2;
    margin-left: auto !important;
    margin-right: 0 !important;
  } */
  .navbarSearchContainer_Bca1 {
    position: absolute;
    right: var(--ifm-navbar-padding-horizontal);
    top: 13px;
  }
  .navbar__brand {
    order: 0;
  }



  
}

/* Make sidebar take full screen */




.menu__link--sublist-caret:after {
  content: '';
  margin-left: auto;
  min-width: 1.25rem;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24"><path fill="%23ffffff" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"/></svg>');
  filter: var(--ifm-menu-link-sublist-icon-filter);
  height: 1.25rem;
  transform: rotate(180deg);
  width: 1.25rem;
  transition: transform var(--ifm-transition-fast) linear;
}

.center-mermaid {
  text-align: center;
}

/* @media (min-width: 1440px) {
  .container {
      max-width: var(--ifm-container-width-xl);
      margin: 1%;
  }
} */
/* .menu__list {
  padding-left: 18%;
} */
.status{
  margin-top: 3%;
}
.col{
  padding: 0px;
}

.footer{
  background: #05080d;
}
.navbar{
  background: #05080d;
  position: static;
}
.card-block {
  
  width: 300px !important;
  margin-top: 16px !important;
  padding:16px !important;
  
  border: 1px solid #D5DDE5 !important;
  border-radius: 5px !important;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}
.card-form>.row {
  padding: 12px ;
  width:90%;
 
  border-bottom: 1px solid #D5DDE5;
  text-align: center;
  margin: 0 auto;

}
.card-form>.row>input {
  display: inline-block;
  width: auto;
  border: 0;
  margin: 0 12px;
  color: #6D7D8D;
  font-size: 0.875rem;
  background: none;      /* removes any background */
  background-color: transparent; /* makes sure it's fully transparent */
}
.card-form>.card-form-submit-row {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  border-bottom: 0;
}
#create_token {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #4CAF50; /* green background */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  margin: auto;
}

#create_token:hover {
  background-color: #45a049; /* darker green on hover */
}

#create_token:disabled {
  background-color: #cccccc;
}

  .navbar__link {
    color: white;
}
.sidebar_njMd {
    background-color: #03070a;
}

@media (min-width: 997px) {
  .sidebar_njMd {
    padding-top: 0px !important;
  }

  .docSidebarContainer_YfHR {
    margin-top: 0 !important;
  }

  .docSidebarContainer_YfHR {
     clip-path:none !important; 
  }

  .docMainContainer_TBSr{
    background-color: #03070a;
    .container { 
      padding-top: 0 !important;
      margin-top: 0 !important;
      .row{
        padding: 0px !important;
      }
    }
  }
}

.docMainContainer_TBSr{
    background-color: #03070a;
    .container { 
      padding-top: 0 !important;
      margin-top: 0 !important;
    }
  }

.menu__link {
    color: white}
.table-of-contents__link {
  color:white}
  html{
    color:white
  }
  .breadcrumbs__link {color: white;}
  .pagination-nav__sublabel {color:white}
  .table-of-contents__left-border {
    border-left: 0px;
}
.tableOfContents_bqdL {
  display: none;
}

.tocCollapsibleButton_TO0P{
  display: none !important;
}
a{
  text-decoration: none;
  color:white !important;

}
a:hover{
  text-decoration: none;
  color:#2e8555  !important;

}
.menu__link:hover {
  color: #80ffbf;
  background-color: #57d9a340 !important;
}

.menu__link--active:not(.menu__link--sublist) {
  background-color: #57d9a340 !important;
  color: #80ffbf;
}


.col.col--3 {
  display: none;
}



  main.docMainContainer_TBSr .container .row .docItemCol_VOVn {
    max-width: 95% !important;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 4%;
}

.docSidebarContainer_YfHR {border: 0px !important;
background-color: #03070a}

code{
  color: black !important;
  background-color: white;
}
blockquote {color:white;}
#mermaid-svg-5726450 .messageText {
  fill: lightgrey !important;
  stroke: none;
}
pre{
  color:black
}
.alert {background-color: black;
  color:white !important;
}
.details_b_Ee {
  border: 1px solid #2e8555 !important;
}
.collapsibleContent_i85q {
   border-top: 1px solid #2e8555 !important;
}
.dropdown__menu {
    background-color: black !important;}
    em{
      color:white !important;
    }

.details_lb9f > summary::before {
  border-color: transparent transparent transparent #2e8555 !important;
}
.navbar-sidebar {
     background-color:black !important;}

     



.actor {
  stroke: #ccccff;
  fill: #ececff !important;
}
text.actor {
  fill: white !important;
  stroke: none;
  font-family: Helvetica;
}

.actor-line {
  stroke: white !important;
}

.messageLine0 {
  stroke-width: 1.5;
  stroke-dasharray: '2 2';
  marker-end: 'url(#arrowhead)';
  stroke: white !important;
}
marker#arrowhead path {
  fill: white !important; /* your desired color */
}
.messageLine1 {
  stroke-width: 1.5;
  stroke-dasharray: '2 2';
  stroke: white !important;
}

#arrowhead {
  fill: white !important;
}

.messageText {
  fill: white !important;
  stroke: none;
  font-family: 'trebuchet ms', verdana, arial;
  font-size: 14px;
}

.labelBox {
  stroke: white !important;
  fill: white !important;
}

.labelText {
  fill: white !important;
  stroke: none;
  font-family: 'trebuchet ms', verdana, arial;
}

.loopText {
  fill: white !important;
  stroke: none;
  font-family: 'trebuchet ms', verdana, arial;
}

.loopLine {
  stroke-width: 2;
  stroke-dasharray: '2 2';
  marker-end: 'url(#arrowhead)';
  stroke: #ccccff;
}

.note {
  stroke: #decc93;
  fill: #fff5ad;
}

.noteText {
  fill: white !important;
  stroke: none;
  font-family: 'trebuchet ms', verdana, arial;
  font-size: 14px;
}

#mermaid-svg-8193468{font-family:"trebuchet ms",verdana,arial,sans-serif;font-size:16px;fill:#333;}@keyframes edge-animation-frame{from{stroke-dashoffset:0;}}@keyframes dash{to{stroke-dashoffset:0;}}#mermaid-svg-8193468 .edge-animation-slow{stroke-dasharray:9,5!important;stroke-dashoffset:900;animation:dash 50s linear infinite;stroke-linecap:round;}#mermaid-svg-8193468 .edge-animation-fast{stroke-dasharray:9,5!important;stroke-dashoffset:900;animation:dash 20s linear infinite;stroke-linecap:round;}#mermaid-svg-8193468 .error-icon{fill:#552222;}#mermaid-svg-8193468 .error-text{fill:#552222;stroke:#552222;}#mermaid-svg-8193468 .edge-thickness-normal{stroke-width:3px;}#mermaid-svg-8193468 .edge-thickness-thick{stroke-width:3.5px;}#mermaid-svg-8193468 .edge-pattern-solid{stroke-dasharray:0;}#mermaid-svg-8193468 .edge-thickness-invisible{stroke-width:0;fill:none;}#mermaid-svg-8193468 .edge-pattern-dashed{stroke-dasharray:3;}#mermaid-svg-8193468 .edge-pattern-dotted{stroke-dasharray:2;}#mermaid-svg-8193468 .marker{fill:white !important;stroke: white !important;}#mermaid-svg-8193468 .marker.cross{stroke:#333333;}#mermaid-svg-8193468 svg{font-family:"trebuchet ms",verdana,arial,sans-serif;font-size:16px;}#mermaid-svg-8193468 p{margin:0;}#mermaid-svg-8193468 .actor{stroke:hsl(259.6261682243, 59.7765363128%, 87.9019607843%);fill:#ECECFF;}#mermaid-svg-8193468 text.actor>tspan{fill:black;stroke:none;}#mermaid-svg-8193468 .actor-line{stroke:hsl(259.6261682243, 59.7765363128%, 87.9019607843%);}#mermaid-svg-8193468 .messageLine0{stroke-width:1.5;stroke-dasharray:none;stroke:#333;}#mermaid-svg-8193468 .messageLine1{stroke-width:1.5;stroke-dasharray:2,2;stroke:#333;}#mermaid-svg-8193468 #arrowhead path{fill:#333;stroke:#333;}#mermaid-svg-8193468 .sequenceNumber{fill:white;}#mermaid-svg-8193468 #sequencenumber{fill:#333;}#mermaid-svg-8193468 #crosshead path{fill:#333;stroke:#333;}#mermaid-svg-8193468 .messageText{fill:#333;stroke:none;}#mermaid-svg-8193468 .labelBox{stroke:hsl(259.6261682243, 59.7765363128%, 87.9019607843%);fill:#ECECFF;}#mermaid-svg-8193468 .labelText,#mermaid-svg-8193468 .labelText>tspan{fill:black;stroke:none;}#mermaid-svg-8193468 .loopText,#mermaid-svg-8193468 .loopText>tspan{fill:black;stroke:none;}#mermaid-svg-8193468 .loopLine{stroke-width:2px;stroke-dasharray:2,2;stroke:hsl(259.6261682243, 59.7765363128%, 87.9019607843%);fill:hsl(259.6261682243, 59.7765363128%, 87.9019607843%);}#mermaid-svg-8193468 .note{stroke:#aaaa33;fill:#fff5ad;}#mermaid-svg-8193468 .noteText,#mermaid-svg-8193468 .noteText>tspan{fill:black;stroke:none;}#mermaid-svg-8193468 .activation0{fill:#f4f4f4;stroke:#666;}#mermaid-svg-8193468 .activation1{fill:#f4f4f4;stroke:#666;}#mermaid-svg-8193468 .activation2{fill:#f4f4f4;stroke:#666;}#mermaid-svg-8193468 .actorPopupMenu{position:absolute;}#mermaid-svg-8193468 .actorPopupMenuPanel{position:absolute;fill:#ECECFF;box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);filter:drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));}#mermaid-svg-8193468 .actor-man line{stroke:hsl(259.6261682243, 59.7765363128%, 87.9019607843%);fill:#ECECFF;}#mermaid-svg-8193468 .actor-man circle,#mermaid-svg-8193468 line{stroke:hsl(259.6261682243, 59.7765363128%, 87.9019607843%);fill:#ECECFF;stroke-width:2px;}#mermaid-svg-8193468 :root{--mermaid-font-family:"trebuchet ms",verdana,arial,sans-serif;}

.mermaid marker path {
  fill: white !important;
}

pre{
  p{
    a{
      color: #2e8555 !important;
    }
  }
}

.kDuBQd {
  padding: 0 0 !important;
  .jkwlQD{
    font-weight: 700 !important;
  }
}
.dRVblm {
    padding: 5px 0 !important;
}

.dKykVD {
  font-weight: 700 !important;
}

.sc-dYOLZc {
  padding: 0px 0px !important;
}

.sc-fAMRTC {
  color: #03070a !important;
}

 .back-button{
  color: black !important;
  margin: 20px; 
  font-size: 20px;
  img{
    margin-right: 10px;
  }
 }
