openapi: 3.0.0
info:
  version: '2019-05-29'
  title: Omise API
  description: Omise API
servers:
  - url: 'https://api.omise.co'
    description: api
  - url: 'https://vault.omise.co'
    description: vault
paths:
  /account/api_versions:
    get:
      tags:
        - Account
      parameters: []
      responses:
        '200':
          description: Account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
      x-omise-action: retrieve
      x-omise-schema: account
  /account:
    patch:
      tags:
        - Account
      parameters: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                chain_enabled:
                  type: boolean
                  default: 'false'
                  enum:
                    - true
                    - false
                zero_interest_installments:
                  type: boolean
                  default: 'false'
                  enum:
                    - true
                    - false
                chain_return_uri:
                  type: string
                  format: uri
                webhook_uri:
                  type: string
                  format: uri
                metadata_export_keys:
                  type: object
                  properties:
                    charge:
                      type: array
                      items: {}
                    transfer:
                      type: array
                      items: {}
                    refund:
                      type: array
                      items: {}
                    dispute:
                      type: array
                      items: {}
            encoding:
              metadata_export_keys:
                style: deepObject
      responses:
        '200':
          description: Account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
      x-omise-action: update
      x-omise-schema: account
  /account/api_version:
    patch:
      tags:
        - Account
      parameters: []
      responses:
        '200':
          description: Account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
      x-omise-action: update_api_version
      x-omise-schema: account
components:
  schemas:
    account:
      type: object
      properties:
        object:
          type: string
          default: account
          pattern: account
        id:
          type: string
          pattern: 'account_[0-9a-z]+'
        team:
          type: string
          pattern: 'acct_[0-9a-z]+'
        livemode:
          type: boolean
          enum:
            - true
            - false
        location:
          type: string
        country:
          type: string
        currency:
          type: string
          format: currency
        email:
          type: string
        created_at:
          type: string
          format: date-time
        supported_currencies:
          type: array
          items:
            type: string
            format: currency
        api_version:
          type: string
        auto_activate_recipients:
          type: boolean
          enum:
            - true
            - false
        chain_enabled:
          type: boolean
          enum:
            - true
            - false
        zero_interest_installments:
          type: boolean
          enum:
            - true
            - false
        chain_return_uri:
          type: string
          format: uri
        webhook_uri:
          type: string
          format: uri
        metadata_export_keys:
          type: object
        chaining_allowed:
          type: boolean
          enum:
            - true
            - false
        last_updated_api_version:
          type: string
        transfer_config:
          type: object
    account_updater:
      type: object
      properties:
        object:
          type: string
          default: account_updater
          pattern: account_updater
        old_card:
          type: object
          properties:
            id:
              type: string
            location:
              type: string
            first_digits:
              type: string
            last_digits:
              type: string
            expiration_month:
              type: integer
            expiration_year:
              type: integer
            brand:
              type: string
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
        new_card:
          type: object
          properties:
            id:
              type: string
            location:
              type: string
            first_digits:
              type: string
            last_digits:
              type: string
            expiration_month:
              type: integer
            expiration_year:
              type: integer
            brand:
              type: string
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
    